<%= link_to "New player", new_player_path %><br>
<%= link_to "Show one player", login_path %>
<h1>Listing players</h1>


  <% @players.each do |player| %>
    <tr>
      <td><%= player.nickname %></td>
      <td><%= player.rank %></td>
      <td><%= player.charisma %></td>
      <td><%= player.wisdom %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
    </tr>
  <% end %>
