<%= form_for @player, url: {action: "create"} do |f| %>
  Nickname:<br>
  <%= f.text_field :nickname %><br>
  Rank:<br>
  <%= f.text_field :rank %><br>
  Charisma:<br>
  <%= f.text_field :charisma %><br>
  Wisdom:<br>
  <%= f.text_field :wisdom %><br><br>
  <%= f.submit "Create" %>
<% end %>
