<h1><%= @player.nickname %></h1>
<p><%= @player.rank %>
<p><%= @player.charisma %>
<p><%= @player.wisdom %>
<br><%= link_to "Edit", edit_path %>
<br><%= link_to "Delete", player_path(@player.id), method: :Delete %>
